In [1]:
import pandas as pd
import requests
import json

In [2]:
url = 'https://api.themoviedb.org/3/discover/movie?api_key=61eafe24a4131d04710a8e52fcdd932a&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1000&primary_release_year=%s'

In [3]:
body = []
for i in range(2000,2020):
    for j in range(1,11):
        year = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=61eafe24a4131d04710a8e52fcdd932a&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=' + str(j) + '&primary_release_year=' + str(i))
        body.append(year)

In [4]:
# define column names for our new dataframe
columns = ['id', 'title', 'vote_average', 'overview', 'revenue', 'release_date']

# create dataframe with appropriate columns
df = pd.DataFrame(columns=columns)

In [8]:
for i in range(0,200):
    curr_year = body[i].json()['results']
    for film in curr_year:
        film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key=61eafe24a4131d04710a8e52fcdd932a&language=en-US')
        film_revenue = film_revenue.json()
        df.loc[len(df)]=[film['id'],film['title'],film['vote_average'],film['overview'],film_revenue['revenue'],film['release_date']]

In [9]:
df.head()

,id,title,vote_average,overview,revenue,release_date
0,118365,"Moses, Prince of Egypt",5.5,"At birth, Moses, a Hebrew baby is abandoned on...",0,2000-01-01
1,10567,Dinosaur,6.5,An orphaned dinosaur raised by lemurs joins an...,354248063,2000-05-19
2,4247,Scary Movie,6.3,A familiar-looking group of teenagers find the...,278019771,2000-07-07
3,8871,How the Grinch Stole Christmas,6.7,Inside a snowflake exists the magical land of ...,345141403,2000-11-17
4,11688,The Emperor's New Groove,7.5,Kuzco is a self-centered emperor who summons P...,169327687,2000-12-15

In [10]:
df.to_csv('movies.csv', index=False)