<a href="https://colab.research.google.com/github/lasya1125/COMP562FinalProject/blob/main/Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('movies.csv')

In [ ]:
df.head()

       id                           title  ...    revenue release_date
0  118365          Moses, Prince of Egypt  ...          0   2000-01-01
1   10567                        Dinosaur  ...  354248063   2000-05-19
2    4247                     Scary Movie  ...  278019771   2000-07-07
3    8871  How the Grinch Stole Christmas  ...  345141403   2000-11-17
4   11688        The Emperor's New Groove  ...  169327687   2000-12-15

[5 rows x 6 columns]